table {
	border: 30px solid #660066;
	margin-right: 40px;
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 30px;
	border-top-right-radius: 30px;
	border-top-left-radius: 30px;
	margin: 0 auto;
	position: relative;
}

th {
	background-color: white;
	height: 30px;
	position: relative;
}

tr {
	background-color: beige;
	position: relative;
}

button { 
 	height: 60px;
 	width:  65px;
 	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 30px;
	border-top-right-radius: 30px;
	border-top-left-radius: 10px;
	position: relative;
}

#clear {
    width: 278px;
    height: 60px;
    position: relative;
}
